[Unit]
Description=Alertmanager Service
After=network.target

[Service]
EnvironmentFile=-/etc/default/alertmanager
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/bin/alertmanager $ARGS \
  --config.file={{ path_settings.prometheus_config_dir }}/alertmanager.yml \
  --web.config.file={{ path_settings.prometheus_config_dir }}/web.yml \
  --storage.path={{ path_settings.prometheus_config_dir }}/alertmanager_data
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
