groups:
- name: node_status
  rules:
  - alert: HighLoadAverage
    expr: node_load1 > 0.9
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Высокая загрузка на {{ '{{ $labels.instance }}' }}"
      description: "Загрузка превышает 0.9 (текущее значение: {{ '{{ $value }}' }})"

  - alert: LowDiskSpace
    expr: (node_filesystem_avail_bytes{fstype!~"tmpfs|fuse.lxcfs"} / node_filesystem_size_bytes{fstype!~"tmpfs|fuse.lxcfs"} * 100) < 10
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Низкий уровень свободного места на диске {{ '{{ $labels.instance }}' }}"
      description: "Свободное место меньше 10% на устройстве {{ '{{ $labels.device }}' }} (текущее значение: {{ '{{ $value }}' }}%)"

  - alert: LowMemory
    expr: (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100) < 10
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Недостаточно оперативной памяти на {{ '{{ $labels.instance }}' }}"
      description: "Доступная память меньше 10% от общего объема (текущее значение: {{ '{{ $value }}' }}%)"

  - alert: HighCPUUsage
    expr: 100 - (avg by(instance) (irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 90
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Высокая утилизация CPU на {{ '{{ $labels.instance }}' }}"
      description: "Утилизация CPU превышает 90% (текущее значение: {{ '{{ $value }}' }}%)"

groups:
- name: prometheus_availability
  rules:
  - alert: PrometheusDown
    expr: up{job="prometheus"} == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Prometheus недоступен"
      description: "Prometheus ({{ '{{ $labels.instance }}' }}) не отвечает более 5 минут, что влияет на видимость мониторинга по всей инфраструктуре."

groups:
- name: node_exporter_availability
  rules:
  - alert: NodeExporterDownCA
    expr: up{job="node-ca"} == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Node Exporter недоступен на сервере CA"
      description: "Node Exporter на сервере CA не отвечает более 5 минут."

  - alert: NodeExporterDownMonitoring
    expr: up{job="node-monitoring"} == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Node Exporter недоступен на сервере мониторинга"
      description: "Node Exporter на сервере мониторинга не отвечает более 5 минут."

  - alert: NodeExporterDownVPN
    expr: up{job="node-vpn"} == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Node Exporter недоступен на VPN сервере"
      description: "Node Exporter на VPN сервере не отвечает более 5 минут."
