Source: ca
Section: utils
Priority: optional
Maintainer: Arina <sav2405@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: ca
Architecture: all
Depends: easy-rsa
Description: Easy-RSA CA management scripts
 CA (Certificate Authority) management utility scripts to handle
 PKI infrastructure. This package provides tools to manage the
 certificate authority for local VPN or other security systems.
