Source: ca
Section: unknown
Priority: optional
Maintainer: Arina <sav2405@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/ca
#Vcs-Git: https://salsa.debian.org/debian/ca.git
Rules-Requires-Root: no

Package: ca
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
